# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars

# Python & Ambientes Virtuais
__pycache__/
*.pyc
venv/
*.venv
env/
.env
pyvenv.cfg
bin/
lib/
lib64/
include/

# IDE & Editor (VSCode)
.vscode/

# Dependências & Build
/node_modules
/build

# Arquivos de Sistema, Logs e Temporários
.DS_Store
*.log
*.swp
*.tmp
*.backup
*.out
id_rsa.pub

# Arquivos Compactados
*.zip
*.tar.gz